In [2]:
data = read.csv('population.csv')

In [3]:
 Sys.setenv(LANG = "en")

In [5]:
#data = data[c(1:49)]

In [6]:
head(data)

  Country.Name         Country.Code X1970    X1971    X1972    X1973
1 Aruba                ABW             59063    59440    59840    60243
2 Afghanistan          AFG          11173642 11475445 11791215 12108963
3 Angola               AGO           5890365  6040777  6248552  6496962
4 Albania              ALB           2135479  2187853  2243126  2296752
5 Andorra              AND             24276    25559    26892    28232
6 United Arab Emirates ARE            234514   277471   330974   394624
  X1974    X1975    X1976    X1977    ... X2006    X2007    X2008    X2009
1    60528    60657    60586    60366 ...   100834   101222   101358   101455
2 12412950 12689160 12943093 13171306 ... 26433049 27100536 27722276 28394813
3  6761380  7024000  7279509  7533735 ... 20149901 20905363 21695634 22514281
4  2350124  2404831  2458526  2513546 ...  2992547  2970017  2947314  2927519
5    29520    30705    31777    32771 ...    80993    82684    83862    84463
6   467451   548301   637922   735344 ...  5300174  6168838  7089487  7917372
  X2010    X2011    X2012    X2013    X2014    X2015
1   101669   102046   102560   103159   103774   104341
2 29185507 30117413 31161376 32269589 33370794 34413603
3 23356246 24220661 25107931 26015780 26941779 27884381
4  2913021  2905195  2900401  2895092  2889104  2880703
5    84449    83747    82427    80774    79213    78011
6  8549988  8946777  9141596  9197910  9214175  9262900

In [15]:
install.packages('reshape')

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [7]:
library(reshape)

In [8]:
d1 = melt(data, id=c("Country.Name","Country.Code"))

In [10]:
head(d1)

  Country.Name         Country.Code variable value
1 Aruba                ABW          X1970       59063
2 Afghanistan          AFG          X1970    11173642
3 Angola               AGO          X1970     5890365
4 Albania              ALB          X1970     2135479
5 Andorra              AND          X1970       24276
6 United Arab Emirates ARE          X1970      234514

In [11]:
names(d1) = c('country', 'code', 'time', 'value')

In [12]:
rowNumber = nrow(d1)
rowNumber

[1] 9890

In [13]:
newt = rep(0, times = rowNumber)

In [14]:
year <- d1[['time']]

In [15]:
a <- year[1]
substr(a, start = 2, stop = 5)

[1] "1970"

In [16]:
for (i in 1:rowNumber){
    a <- year[i]
    b <- substr(a, start = 2, stop = 5)
    newt[i] <- b
}

In [17]:
d1['time'] = newt

In [18]:
d1

     country                        code time value
1    Aruba                          ABW  1970    59063
2    Afghanistan                    AFG  1970 11173642
3    Angola                         AGO  1970  5890365
4    Albania                        ALB  1970  2135479
5    Andorra                        AND  1970    24276
6    United Arab Emirates           ARE  1970   234514
7    Argentina                      ARG  1970 23880561
8    Armenia                        ARM  1970  2525068
9    American Samoa                 ASM  1970    27363
10   Antigua and Barbuda            ATG  1970    64177
11   Australia                      AUS  1970 12507000
12   Austria                        AUT  1970  7467086
13   Azerbaijan                     AZE  1970  5180023
14   Burundi                        BDI  1970  3479074
15   Belgium                        BEL  1970  9655549
16   Benin                          BEN  1970  2912340
17   Burkina Faso                   BFA  1970  5624600
18   Bangladesh                     BGD  1970 64232482
19   Bulgaria                       BGR  1970  8489574
20   Bahrain                        BHR  1970   212605
21   Bahamas, The                   BHS  1970   169377
22   Bosnia and Herzegovina         BIH  1970  3760529
23   Belarus                        BLR  1970  9040000
24   Belize                         BLZ  1970   122182
25   Bermuda                        BMU  1970    55000
26   Bolivia                        BOL  1970  4484004
27   Brazil                         BRA  1970 95113265
28   Barbados                       BRB  1970   238896
29   Brunei Darussalam              BRN  1970   129529
30   Bhutan                         BTN  1970   297316
...  ...                            ...  ...  ...
9861 Turks and Caicos Islands       TCA  2015     35981
9862 Chad                           TCD  2015  14110975
9863 Togo                           TGO  2015   7323158
9864 Thailand                       THA  2015  68714511
9865 Tajikistan                     TJK  2015   8454028
9866 Turkmenistan                   TKM  2015   5565287
9867 Timor-Leste                    TLS  2015   1196302
9868 Tonga                          TON  2015    100781
9869 Trinidad and Tobago            TTO  2015   1370328
9870 Tunisia                        TUN  2015  11179949
9871 Turkey                         TUR  2015  78529409
9872 Tuvalu                         TUV  2015     11099
9873 Tanzania                       TZA  2015  51482633
9874 Uganda                         UGA  2015  38225453
9875 Ukraine                        UKR  2015  45154036
9876 Uruguay                        URY  2015   3412009
9877 United States                  USA  2015 320635163
9878 Uzbekistan                     UZB  2015  31298900
9879 St. Vincent and the Grenadines VCT  2015    109148
9880 Venezuela, RB                  VEN  2015  30081829
9881 British Virgin Islands         VGB  2015     29152
9882 Virgin Islands (U.S.)          VIR  2015    107710
9883 Vietnam                        VNM  2015  92677076
9884 Vanuatu                        VUT  2015    271130
9885 Samoa                          WSM  2015    193513
9886 Kosovo                         XKX  2015   1788196
9887 Yemen, Rep.                    YEM  2015  26497889
9888 South Africa                   ZAF  2015  55386367
9889 Zambia                         ZMB  2015  15879361
9890 Zimbabwe                       ZWE  2015  13814629

In [19]:
write.csv(d1, 'sortedPopulation.csv')